.navbar {
    width: 80px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh; 
    position: fixed;
  }
  
  .nav-button {
    width: 100%;
    margin: 10px 0;
    color: white;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  
.nav-button i {

  font-size: 24px;
  margin-right: 10px; 
}
  
  .logout {
    margin-top: auto;
    margin-bottom: 20px;
  }
  