.pastcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.quizzes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.quiz-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px; /* More rounded corners */
  margin: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.quiz-box:hover {
  transform: translateY(-10px); /* Move box slightly up */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a bit more shadow */
}

.quiz-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  background-color: #0047ab;
  color: white;
  padding: 8px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.quiz-percentage {
  font-size: 24px;
  font-weight: bold;
  color: #808080;
  margin: 16px 0;
  background-color: #d3d3d3;
  padding: 10px 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-score {
  font-size: 16px;
  color: #0047ab;
  background-color: #e0e0e0;
  padding: 8px 16px;
  border-radius: 8px;
}

/* Styles for QuizDetails component */
.quiz-details-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.quiz-details {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-details .quiz-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  background-color: #0047ab;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.quiz-details .quiz-table {
  width: 100%;
  border-collapse: collapse;
}

.quiz-details .quiz-table th, 
.quiz-details .quiz-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.quiz-details .quiz-table th {
  background-color: #f5f5f5;
}

.quiz-details .quiz-question {
  font-weight: bold;
}

.quiz-details .quiz-incorrects {
  color: #e74c3c;
}

.quiz-details .quiz-corrects {
  color: #2ecc71;
}

.quiz-details .quiz-score, 
.quiz-details .quiz-confidence, 
.quiz-details .quiz-performance {
  text-align: center;
}
