.chatbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0; 
}

.chatbot {
  width: 80%; 
  height: 80%;
  background: #fff; 
  border: 1px solid #dcdcdc; 
  border-radius: 10px; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chatbot header {
  background: #202020; 
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chatbot header h2 {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 0;
}

.headerXd{
  background: #202020; 
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerXd h2{
  color: #fff;
  font-size: 1.4rem;
  margin-top: 0;
}

.chatbox {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #ffffff;
}

.chat {
  display: flex;
  margin-bottom: 10px;
}

.incoming img {
  height: 35px;
  width: 40px;
  margin-right: 10px;
}

.chat p {
  max-width: 75%;
  padding: 10px;
  border-radius: 10px;
}

.outgoing p {
  background: #202020; 
  color: #fff;
  margin-left: auto;
}

.incoming p {
  background: #363636; 
  color: #fff;
}

@media (max-width: 1000px) { 
  .chatbot-container {
    margin-left: 80px;
    
  }
}