.main-container{
    display: flex;
    justify-content: flex-start;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 80px;
  }

.subject-quizzes-container {
    background-color: transparent;
    padding: 30px;
    margin-bottom: 30px;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
  }
  
  .top-bar {
    background-color: #2f00ff;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 20px;
    border-radius: 30px;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .quizzes-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #0e0e0e;
    border-radius: 30px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .quizzes-box {
    width: 40%;
    background-color: transparent;
    border: none;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quizzes-box h3 {
    color: #333;
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
  }
  